body {
  font-family: "Raleway", sans-serif;
}

/* Hero Section */

#Hero-Section {
  background-image: url("../img/bg-code.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
}

/* Acerca de mi */

#Acerca-de-mi i {
  font-size: 40px;
  color: #676868;
}

#Acerca-de-mi .logo {
  height: 50px;  
}

#Acerca-de-mi img {
  border-radius: 10px;
}

/* Portafolio */

/* #Mis-trabajos .image-top {
  height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
} */

.card {
  height: 100%;  
}

.image-top img { /* agrega linea de ancho imagen card */
  width: 98%;  
}

/* Contacto */

#Contacto form label {
  font-weight: 700;
  color: #373a3c;
}

@media (max-width: 768px) {
  #Contacto form label {
    font-weight: 400;
  }

  .navbar-brand{
    width: 100px;
  }

}
